:root {
    color-scheme: light dark;
    --text-color: #000000;
    --link-color: Blue;
    --highlight-color: Gainsboro;
    --nav-current-color: #ffffff;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --link-color: #93d5ff;
    --subtle-link-color: #93d5ff;
    --highlight-color: DimGray;
    --nav-current-color: #000000;
    --nav-another-color: #101010;
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  #header-right { display: none; }  /* hide it on small screens */
}

* {
	box-sizing: border-box;
}

/* --------------------------------------------------

	Body and Paragraphs
	
 * -------------------------------------------------- */

body {
	padding: 1rem 0.5rem;
	font-family: 'concourse-text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	line-height: 1.5;
	max-width: 52rem;
	margin: 0 auto;
	/* color: #333; */
}

p {
	margin-block-start: 0.5em;
}

a {
  color: var(--link-color);
}

a.subtle-link { 
	color: #BDD9FB; 
	text-decoration: none;
}

a.invisi-link { 
	color: inherit; 
	text-decoration: none;
}

.search-results {
    background-color: var(--highlight-color);
}

/* --------------------------------------------------

	Headings
	
 * -------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: 'equity-caps', Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: normal;
}

h2 {
	border-bottom: 2px solid var(--text-color);
}

h3 {
	margin-block-end: 0;
}

h4 {
	margin-block-end: 1rem;
}

main {
	max-width: 50rem;
}

footer {
	font-size: 1.1rem;
	text-align: center;
}

#mac-app-download {

}

/* --------------------------------------------------

	Navigation Bar Styling
	
 * -------------------------------------------------- */
 
 nav {
 	display: flex;
 	justify-content: space-between;
 	flex-direction: row;
 	font-family: concourse_c6regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
 	font-size: 1.6rem;
 }
 
 nav#nav-top {
  /* margin-left: 6rem;
 	margin-right: 6rem; */
 }
 
 nav#nav-bottom {
	margin-top: 1rem;
	font-family: concourse_t3regular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.1rem;
}
 
nav a {
flex: 1;
text-align: center;
margin: 0.25em;
padding: 0.25em;
text-decoration: none;
}

nav a.current-page {
color: #ffffff;
border-bottom: 4px solid var(--link-color);
}

nav a.another-page { color: #A9A9A9; }

nav ul li a {
	display: block;
	padding: 8px; 
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	/* background-color: #dddddd; */
}

nav ul li a:hover {
	/* background-color: #111; */
}



p.news-date {
	font-style: italic;
}

img {
	max-width: 100%;
}

/* --------------------------------------------------

	Page Header (Masthead)
	
 * -------------------------------------------------- */

header {
	display: flex;
	flex-direction: row;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

#header-left {
	display: flex;
	flex-direction: column;
}

#header-logo-and-name {
	display: flex;
	flex-direction: row;
}

#header-right {
	margin-left: auto;
}

.header-logo-image {
	max-width: 64px;
	margin-right: 16px;
}

#header-title { 
  font-family: 'concourse_t4regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3rem;
}

#header-slogan {
  font-family: 'concourse_t4italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

blockquote {
	font-style: italic;
}

