<?set prior-title = "" ?>
<?set prior-page-title = "" ?>
<?nextrec?>
<?set folder-out = "" ?>
<?if "=$type$=" eq "news" ?>
<?set folder-out = "news/" ?>
<?endif?>
<?if "=$type$=" ne "review" ?>
<?output "../=$folder-out$==$title&f$=.html"?>
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Notenik =$page-title$=</title>
		<meta name="description" content="The Notenik App for the Mac" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<?include "../includes/head-links.html" ?>
	</head>
	<body>
		<div id="wrapper">

<?include "../includes/header.html" ?>

<?set index-class = another-page ?>
<?set links-class = another-page ?>
<?set news-class = another-page ?>
<?set docs-class = another-page ?>
<?set about-class = another-page ?>
<?set connect-class = another-page ?>
<?set license-class = another-page ?>
<?set privacy-class = another-page ?>
<?set support-class = another-page ?>
<?set =$title$=-class = current-page ?>

<?include "../includes/nav-top.html" ?>

<?include "../includes/nav-bottom.html" ?>

			<main id="main">
<?if "=$type$=" ne "news" ?>
<?if "=$title$=" != "index" ?>
				<h1>=$page-title$=</h1>
<?endif?>
<?endif?>
<?if "=$type$=" eq "news" ?>
				<h3>=$page-title$=</h3>
				<p class="news-date">Posted on =$date&d MMM, yyyy$=</p>
<?endif?>

				<div id="content">
					=$body&o$=
				</div>

<?if "=$type$=" eq "news" ?>
<?if "=$prior-title$=" ?>
				<hr />

				<p>Earlier News:
					<a href="=$prior-title&f$=.html">
						=$prior-page-title$=
					</a>
				</p>
<?endif?>
<?set prior-title = "=$title$="?>
<?set prior-page-title = "=$page-title$=" ?>
<?endif?>
<?if "=$title$=" eq "index" ?>
<?include "../includes-gen/reviews.html" ?>
<?include "../includes-gen/latest-news.html" ?>
<?endif?>
<?if "=$title$=" eq "news" ?>
<?include "../includes-gen/news-page.html" ?>
<?endif?>

			</main>

<?include "../includes/footer.html" ?>
		</div>  <!-- end of wrapper div -->
	</body>
</html>
<?endif?>
<?loop?>
