<?output "../includes-gen/latest-news.html"?>

				<h2>Notenik News</h2>

<?include "../includes-gen/latest-news-intro.html"?>
<?set count = 0 ?>
<?nextrec?>
<?if "=$type$=" eq "news" ?>
<?if =$count$= lt 1 ?>
					<article>
						<h3>
							<a class="invisi-link" href="news/=$title&f$=.html">
								=$page-title$=
							</a>
						</h3>

						=$teaser&o$=

						<p class="news-date">
							=$date&d MMM, yyyy$=
							<a href="news/=$title&f$=.html">
								read more&hellip;
							</a>
						</p>
					</article>
<?endif?>
<?set count += 1 ?>
<?endif?>
<?loop?>
